.buscador-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.buscador-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buscador-results {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
}

.buscador-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.buscador-item:last-child {
  border-bottom: none;
}

.buscador-item:hover {
  background-color: #f0f0f0;
}
.buscador-item.selected {
  background-color: #007bff; /* Color de fondo cuando está seleccionado */
  color: white; /* Color de texto cuando está seleccionado */
}
.buscador-no-results {
  color: red;
  font-weight: bold;
  text-align: center;
}